<a href="https://colab.research.google.com/github/swaleha/Python/blob/master/Swaleha_programming_drill_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drill #15
<img src="https://drive.google.com/uc?id=1Vwskl6-_ETS_WPuvCn7fegQ-Hpv1SD5B" width="500">

#### Expected Output
<img src="https://drive.google.com/uc?id=1bmGzGlbhhrZdA9D23EPls9KcOjXXp1uG" width="250">

In [0]:
def print_sum_two(x, y):
  sum_ = x + y
  print(f'Sum of {x} and {y} is {sum_}')

def print_prod_two(x, y):
  product_ = x * y
  print(f'Product of {x} and {y} is {product_}')

print_sum_two(2, 4)
print_prod_two(2, 4)

Sum of 2 and 4 is 6
Product of 2 and 4 is 8

# Drill #16
<img src="https://drive.google.com/uc?id=1mSC8jIGJbuIxwNteHxtvPR4mYSWUOSN7" width="500">

# Expected Output
<img src="https://drive.google.com/uc?id=1y4_327qCXAinHKl4DoJGbycg4qD2Gyr5" width="350">

In [0]:
print('Two numbers can be added to get', 2 + 3)

print('Two  strings can be concatenated to get', '20'+'30')

#print('But you can\'t add a string and a number', '200' + 300)

print('You can convert a string to a number and add it to another number like this', int('2000') + 3000)

print('You can convert number to a string and concatenate it to another string like this', '₹' + str(20000))

print(f'When you convert int such as {20} to a float, it becomes {float(20)}')

Two numbers can be added to get 5
Two  strings can be concatenated to get 2030
You can convert a string and add it to another number like this 5000
You can convert number to a string and concatenate it to another string like this ₹20000
When you convert int such as 20 to a float, it becomes 20.0

#Drill #17
<img src="https://drive.google.com/uc?id=1t6dJQmKlm4df5NQ5fnsuZgoVRH1HLcC9" width="500">

### Expected Output
<img src="https://drive.google.com/uc?id=1riilusrqyYw5H7hw4E8cydt79n3voNQ9" width="300">

In [0]:
import math

def print_length_hypotenuse_1(a, b):
  '''
  prints the length of the hypotenuse of a right triangle, given the other two sides
  '''
  print(f'Length of the hypotenuse is {math.sqrt(a**2 + b**2)}')


def print_length_hypotenuse_2(a, b):

  print(f'Length of the hypotenuse is {math.pow(math.pow(a, 2) + math.pow(b, 2), 0.5)}')


def print_length_hypotenuse_3(a, b):
  '''
  Computes length of hypotenuse by finding the angle opposite of side a and then computing 
  a / sin(angle_a)
  '''
  tan_a = a/b ## tan of angle opposite to side a
  angle_a = math.atan(tan_a)  ## angle opposite to side a
  hypotenuse = a/math.sin(angle_a)
  print(f'Length of hypotenuse is {hypotenuse}')

print_length_hypotenuse_1(3, 4)
print_length_hypotenuse_2(6, 8)
print_length_hypotenuse_3(24, 7)

Length of the hypotenuse is 5.0
Length of the hypotenuse is 10.0
Length of hypotenuse is 25.0

# Drill #18
<img src="https://drive.google.com/uc?id=1X_-RceCPkuhOhSqmGbIZy2ZPRUMNyB_C" width="500">

### Expected Output
<img src="https://drive.google.com/uc?id=1cVEefhJen7DtHq7UUcYoM2QJaI45lWZB"
width="300">

In [0]:
from math import pi 
from math import pow

def print_circle_area(radius):
  area = pi * pow(radius, 2)   ## pow raises radius to the power 2
  print(f'Area of circle is {area}')

area = print_circle_area(5)
## This variable is different from the paramter inside function print_circle_area 
## because function variables are local

print('This is the value returned by the function', area) ## Because this is a void function
print('Type of value returned by function is', type(area))

Area of circle is 78.53981633974483
This is the value returned by the function None
Type of value returned by function is <class 'NoneType'>

#Drill #19
A function object is a value you can assign to a variable or pass as an argument. <br>
<img src="https://drive.google.com/uc?id=1lxzwS1zLfv_ZRWLlnZhWxhfsPSutLHMi" width="400">


### Expected Output:
<img src="https://drive.google.com/uc?id=1Z_Jl4HnMxR_jCmA7-j8Q2wSugYdfxL3e" width="100">

In [0]:
def do_twice (f):

  '''
  This function calls any function object passed to it twice
  '''
  f()
  f()

def print_spam():
  print('spam')

do_twice(print_spam)

spam
spam