<a href="https://colab.research.google.com/github/swaleha/Python/blob/master/Swaleha_More_Lists_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists - 2

### Len function
- The ```len``` function is used to get the length of a list

In [0]:
## Eg., of using len function
my_list = [1, 'Hari', 2, 3, 4]
print(len(my_list))

print(len([1,2,3,4,5,6,7,8,11,23,4445,787]))

5
12

### Removing items from list
- The ```del``` statement can be used to delete items at an index in a list.
- All the items in the list after the deleted item will be moved up one index

In [0]:
my_list = [1, 'ram', 2, 'shyam']


del my_list[0]

print("List after 1st deletion is {}".format(my_list))

del my_list[2]

print("List after 2nd deletion is {}".format(my_list))

List after 1st deletion is ['ram', 2, 'shyam']
List after 2nd deletion is ['ram', 2]

### Iterating over lists using ```for``` loops

- We have used ```for``` loop to execute a block of code a certain number of times
- Technically a ```for``` loop repeats a block of code once for each item in a list value

In [0]:
for i in range(5):
  print("Hello Mickey!")

Hello Mickey!
Hello Mickey!
Hello Mickey!
Hello Mickey!
Hello Mickey!

In [0]:
print(type(range(5)))

<class 'range'>

- ```range``` function returns a range object that is similar to a list
- For eg., range(4) is similar to the list $[0, 1, 2, 3]$

In [0]:
for i in range(4):
  print(i)

0
1
2
3

In [0]:
l = [1,2,3,4,5,6,7]
for i in l:
  print(i)

1
2
3
4
5
6
7

In [0]:
fruit_juice_menu = ['Apple', 'Mango', 'Orange', 'Guava', 'Chikku', 'Strawberry' ]
for fruit in fruit_juice_menu:
  print("I serve {} juice".format(fruit))

I serve Apple juice
I serve Mango juice
I serve Orange juice
I serve Guava juice
I serve Chikku juice
I serve Strawberry juice

In [0]:
## Example of using for loop with lists
## Find the maximum number in a list of numbers
def max(l):
  max_num = l[0]  ## initialize variable here ## holds the maximum of all numbers seen till now
    ## initialize variable to the first number in the list
  for number in l:  ## look at each number in the list l and compare it with the maximum_number. 
    if number > max_num:   
       max_num = number ## If the number is greater than maximum_number then update the maximum_number.
  return max_num
  

print(max([1, 12, 123, 5, 789, 110, 1024, 222]))

1024

##### Practice problem

In [0]:
## Practice problem ##
## Find the average value of a list of numbers
def average(l):
 total = 0

 for num in l:
  total = total + num
 total_avg = total / num
 return (total_avg)

l = [1, 2, 3, 4, 5] ## average(l) should return 3
print(average(l))

3.0

#### Combining ```len``` and ```range``` - a common technique

In [0]:
names = ['Hari', 'Madhav', 'Govind', 'Ram']
for i in range(len(names)):
  print("The name {} is present at position {}".format(names[i], i+1))

The name Hari is present at position 1
The name Madhav is present at position 2
The name Govind is present at position 3
The name Ram is present at position 4

In [0]:
for i in names:
  print(i)

Hari
Madhav
Govind
Ram

In [0]:
for i in range(len(names)):
  print(i)

0
1
2
3

In [0]:
## Example - Find the index in a list where an item is repeating
l = [1, 2, 3, 5, 6, 6, 8]
def repeating_index(l):
  r = None
  for i in range(1, len(l)): ## i loops over the index values - 0, 1, 2
    if(l[i] == l[i-1]):
      r = i-1 ## r holds the index where an item is repeating
      break
  return r

print(repeating_index(l))

4

##### Practice problem

In [0]:
## Example - Find the indices in a list where the item is a multiple of 7
def multiple_7(l):

  indices_7 = []

  for i in range(len(l)):
    if(l[i] % 7 == 0):
      indices_7 = indices_7 + [i]
  return indices_7 ## list of all indices where the item is a multiple of 7

l = [2, 3, 7, 4, 14, 9] ## multiple_7 should return [2, 4]

print(multiple_7(l))

[2, 4]

#### ```in``` and ```not in``` operators

- ```in``` and ```not in``` are binary operators
- They connect two values - an item to search for and a list in which that item may be found
- The expression evaluates to True if the item is present in the list and it evaluates to False if the item is not present in the list

In [0]:
##Examples of usage of in and not in
names = ['Hari', 'Govinda', 'Madhava', 'Damodara']
# print('Govinda' in names)
# print('Rama' in names)

# print('Shyama' not in names)
# print('Damodara' not in names)

False

In [0]:
## Solved problem
## Take a list. Create a list of numbers which are not in that list
l = [2, 5, 9, 11, 13]

## Task - create a list of all numbers from 1 to 20 which are not in l
notl = [] ## initialize to empty list
for num in range(1, 21):
  if(num not in l):
    notl = notl + [num]

print(notl)

[1, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 19, 20]

## Methods on Lists
- A method is the same as a function, except it is "called on" a value
- The method call comes after a value and is separated by a ```.``` (fullstop/period)

In [0]:
l1 = ['a', 'b', 'c', 'd']
l1.index('c')

2

##### Finding elements with ```index``` method
- Returns the index of an item in a list if it is present in the list
- If the item is not present in the list, it throws an error ValueError

In [0]:
## Example using index method
names = ['Hari', 'Govinda', 'Madhava', 'Damodara']
# names.index('Govinda')
# names.index('Damodara')
names.index('Madhava')

2

- Finds the first instance if multiple items of the same value are present

In [0]:
##Example
l = [1, 2, 3, 3,4 , 6 , 7.0 , 7]
l.index(7)

6

#### Adding values to list with ```append()``` and ```insert()``` methods
- ```append``` method adds an item at the end of a list
- ```insert``` method can be used to add an item at any index of a list

In [0]:
names = ['Hari', 'Govinda', 'Madhava', 'Damodara']
names.append('Laxman')
print(names)

['Hari', 'Govinda', 'Madhava', 'Damodara', 'Laxman']

In [0]:
names.insert(3, 'Ram')
print(names)

['Hari', 'Govinda', 'Madhava', 'Ram', 'Damodara', 'Laxman']

- Modifying lists in place vs creating a new list

In [0]:
## append and insert functions do not return anything. They return None value. They change the lists in place.
# names = names.append('Rama') ## Do not do this
print(names)
#names = names + ['Rama']

['Hari', 'Govinda', 'Madhava', 'Ram', 'Damodara', 'Laxman', 'Rama']

In [0]:
names = ['Hari', 'Govinda', 'Madhava', 'Damodara']
names.append('Rama')
print(names)

names = names + ['Rama']  ## in this case an entire new list is created and assigned to names
names = names + ['Shyama']
print(names)

names.reverse()
print(names)

['Hari', 'Govinda', 'Madhava', 'Damodara', 'Rama']
['Hari', 'Govinda', 'Madhava', 'Damodara', 'Rama', 'Rama', 'Shyama']
['Shyama', 'Rama', 'Rama', 'Damodara', 'Madhava', 'Govinda', 'Hari']

- Reversing values using ```reverse()``` method

In [0]:
## Example
l = [1, 2, 3, 4]
l.reverse()
print(l)  ## reverse changes list in place. So do not use assignment operation on top of it
l = l.reverse()  ## Do not do this
print(l)

[4, 3, 2, 1]
None

In [0]:
## Example problem
## List contains numbers. Create a list of even numbers from that list
l = [1, 2, 3, 4, 6, 9, 11, 24]
evens = []

## look at each item in l and if it is even add it to evens list
for i in l:
  if(i % 2 == 0):
    evens.append(i)

print(evens)

[2, 4, 6, 24]

###### Practice problem

In [0]:
## Example 
## List contatins lists. Create a list of all lists with length greater than or equal to 3
def list_func(l):
  m = []
  for i in range(len(l)):
    for j in range(len(l[i])):
      if (j >= 2):
       m.append(l[i])
       break
  return m

l = [[1, 2, 3], ['ram'], ['a', 'b'], [4, 5, 6, 7]]
list_func(l)

[[1, 2, 3], [4, 5, 6, 7]]

In [0]:
for i in range(5):
  print(i)

0
1
2
3
4

## Tuple data type
- Behaves exactly like list datatype
- Use parantheses to define instead of square brackets
- Immutable datatype

In [0]:
l = [1, 2] ## list of two numbers
t = (1, 2, 3, 4, 5) ## tuple of two numbers

In [0]:
l[1] = 3
print(l)
print(t[1])

[1, 3]
2

In [2]:
t[1] = 3 ## This operation is not supported because tuples are immutable.

TypeError: ignored

In [0]:
print(len(l), len(t))

2 5

##### ```list``` and ```tuple``` functions

In [0]:
t = (1, 2, 3)

l = list(t)

print(l)

l1 = tuple(l)

print(l1)

[1, 2, 3]
(1, 2, 3)